@model IEnumerable<Kronos.Models.Earning>


<h1><b>Utarg</b></h1>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-margin" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ByCart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ByCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ByCart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ByCash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger delete-link" })
            </td>
        </tr>
    }
</table>
