@model IEnumerable<Kronos.Models.Task>


<h1><b>Zadania</b></h1>


<p>
    @Html.ActionLink("Dodaj zadanie", "Create", null, new { @class = "btn btn-primary btn-margin" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
            @*<input type="checkbox" onclick="changeStatus(@item.Id)" value="@item.Status" id="checkbox@(item.Id)"/>*@
        </td>
        <td>
            @Html.ActionLink("Zmien status zadania", "ChangeStatus", new { id = item.Id, status = item.Status }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger delete-link" })
        </td>
    </tr>
}

</table>

<script type="text/javascript">

    // dziala, ale nadal slabo, ogarnac!!!!!
    function changeStatus(Id) {
        $.ajax({
            type: 'POST',
            url: '/Task/ChangeStatus',
            data: {
                taskId: Id
            }
        });
    }

</script>
