<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kronos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
</head>
<body>
    <div id="wrapper">
        <!-- LOGO -->
        <div class="logo col-lg-12">
            @*<img src="~/Images/Shared/Logo.jpg" alt="logo" />*@
        </div>
        <!---->
        <!-- NAVBAR -->
        <div class="col-lg-2">
            <ul class="nav navbar-inverse">
                <li style="background-color: #428bca">
                    @Html.ActionLink("Strona Główna", "Index", "Home", new { @style = "color: #333333;" })
                </li>
                <li>
                    @Html.ActionLink("Lista dłużników", "Index", "Debt")
                </li>
                <li>
                    @Html.ActionLink("Lista zakupów", "Index", "RequisitionItems")
                </li>
            </ul>
        </div>
        <!---->
        <!-- CONTENT PAGE -->
        <div id="page-content-wrapper" class="col-lg-10">
            <div class="container-fluid body-content">
                @RenderBody()

                <div id="delete-dialog" title="Potwierdzenie" style="display: none">
                    <p>Czy na pewno chcesz usunąć ten element?</p>
                </div>
            </div>
        </div>
        <!---->
    </div>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">

        var deleteLinkObj;

        $('.delete-link').click(function () {
            deleteLinkObj = $(this);
            $('#delete-dialog').dialog('open');
            return false;
        });

        $('#delete-dialog').dialog({
            autoOpen: false, width: 400, resizable: false, modal: true,
            buttons: {
                "Kontynuuj": function () {
                    $.post(deleteLinkObj[0].href, function (data) {
                        if (data == 'true') {
                            deleteLinkObj.closest("tr").hide('fast');
                            //(optional) Display Confirmation
                        }
                        else {
                            //(optional) Display Error
                        }
                    });
                    $(this).dialog("close");
                },
                "Anuluj": function () {
                    $(this).dialog("close");
                }
            }
        });
    </script>
</body>


</html>
