<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Kronos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/daypilot")
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse bg-inverse navbar-fixed-top borderlist-li">
        <a class="navbar-brand">KRONOS</a>
    </nav>
    <div id="navbar-left" class="col-lg-2" style="padding-left: 0px;">
        <ul class="nav navbar-inverse borderlist-ul navigation">
            <li class="borderlist-li">
                @Html.ActionLink("Przegląd ogólny --", "Index", "Home")
            </li>
            <li class="borderlist-li">
                @Html.ActionLink("Terminarz --", "Index", "Calendar")
            </li>
            <li class="borderlist-li">
                @Html.ActionLink("Grafik", "Index", "WorkHours")
            </li>
            <li class="borderlist-li">
                @Html.ActionLink("Utarg --", "Index", "Earnings")
            </li>
            <li class="borderlist-li">
                @Html.ActionLink("Długi", "Index", "Debt")
            </li>
            <li class="borderlist-li">
                @Html.ActionLink("Zadania", "Index", "Task")
            </li>
            <li class="borderlist-li">
                @Html.ActionLink("Zakupy", "Index", "RequisitionItems")
            </li>
        </ul>
    </div>
    <!---->
    <!-- CONTENT PAGE -->
    <div id="page-content-wrapper" class="col-lg-10">
        <div class="container-fluid body-content">
            @RenderBody()

            <div id="delete-dialog" title="Potwierdzenie" style="display: none">
                <p>Czy na pewno chcesz usunąć ten element?</p>
            </div>
        </div>
    </div>
    <!---->

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">

        var deleteLinkObj;

        $('.delete-link').click(function () {
            deleteLinkObj = $(this);
            $('#delete-dialog').dialog('open');
            return false;
        });

        $('#delete-dialog').dialog({
            autoOpen: false, width: 400, resizable: false, modal: true,
            buttons: {
                "Kontynuuj": function () {
                    $.post(deleteLinkObj[0].href, function (data) {
                        if (data == 'true') {
                            deleteLinkObj.closest("tr").hide('fast');
                        }
                        else {
                        }
                    });
                    $(this).dialog("close");
                },
                "Anuluj": function () {
                    $(this).dialog("close");
                }
            }
        });
    </script>
</body>

</html>
