@model IEnumerable<Kronos.Models.Debt>

<h1><b>Lista dłużników</b></h1>


<p>
    @Html.ActionLink("Dodaj do listy", "Create", null, new { @class = "btn btn-primary btn-margin" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Debtor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Debtor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.ActionLink(" ", "AddItem", "DebtItems", new { DebtIt = item.Id}, new { @class = "glyphicon glyphicon-plus btn btn-success" }) |
                @Html.ActionLink(" ", "DeleteItem", "DebtItems", new { DebtIt = item.Id }, new { @class = "glyphicon glyphicon-minus btn btn-warning" }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger delete-link" })
            </td>
        </tr>
    }
</table>